<%- include('partials/header') %>

<div class="homeWelcome container-fluid">


<center>
  <h1 style = "font-style:italic">Welcome to Swecha Civic Dashboard!</h1>
  <h3>Get your issue solved quickly</h3>
  <br>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
     Nulla tortor arcu, dignissim tristique massa sit amet, venenatis vestibulum est.
    Sed at sollicitudin nisl. Sed aliquet sem sed purus efficitur, id efficitur nunc finibus.
     Proin eget consectetur libero, nec sollicitudin tellus. Donec at varius erat.
      Maecenas tincidunt risus eu ipsum venenatis, eu lacinia dui lacinia.
       Sed sagittis feugiat enim ac sollicitudin. Nunc hendrerit faucibus metus eu cursus</p>
</center>
<br>
<br>

<div class="row">
  <div class="col-lg-3 col-md-3 ">
   <center>

    <a href="/reportproblem"><button class="homebtn" type="button" name="button">Report an Issue</button></a>
    <center>
  </div>
  <div class="col-lg-3 col-md-3 ">
   <center>

    <a href="/login"><button class="homebtn" type="button" name="button">Login</button></a>
    <center>
  </div>
  <div class="col-lg-3 col-md-3 ">
   <center>

    <a href="/signup"><button class="homebtn" type="button" name="button">Sign Up</button></a>
    <center>
  </div>
  <div class="col-lg-3 col-md-3 ">
   <center>

    <a href="/localcomplaints"><button class="homebtn" type="button" name="button">View Complaints</button></a>
    <center>
  </div>


</div>

</div>

<%- include('partials/footer') %>
