<%- include('partials/header') %>

<br><br><br><br>



<div class="container">

<div class="row loginimg">

<div class="col-lg-6 ">
  <center>
  <img style="margin-top:50px;" src="images/swecha.png" alt="">
  <h3 style="margin-bottom:25px;">Empowering Change</h3>
  </center>

</div>


<div class="col-lg-5  logindetails">

<h3 style="text-align:center; margin-bottom:20px; font-style:italic;">Log in</h3>

<form class="needs-validation" action="/login" method="post" novalidate>
  <center>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input style="width:70%" type="email" name="username" class="form-control" id="exampleInputEmail1" placeholder="jerry@gmail.com" required>

  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input style="width:70%" type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Enter password" required>
  </div>

  <% if(!status){ %>
    <p style="color:red">Incorrect Username or Password</p>
    <% } %>

  <button type="submit" class="btn btn-primary ">Submit</button>
  <br>
  <br>
  Dont have an accout? <a href="/register">Sign Up</a>
  <hr style="width:50%">
  </center>
</form>

<div class="row">



  <h5 style="text-align:center">OR</h5><br><br>

  <div class="col-lg-4 col-md-4">
  <div class="card logincard">
    <center>
        <div class="card-body">
          <a class="btn btn-block" href="/auth/google" role="button">

            <i style="color:red; font-size:40px" class="fab fa-google"></i>

            <!-- <p style="color:black; display:inline; font-size:30px;">Google</p> -->
          </a>
        </div>
      </center>
      </div>
    </div>

     <div class="col-lg-4 col-md-4">
       <div class="card logincard">
         <center>
             <div class="card-body">
               <a class="btn btn-block" href="/auth/google" role="button">

                 <i style="color:magenta; font-size:40px" class="fab fa-instagram"></i>

                 <!-- <p style="color:black; display:inline; font-size:30px;">Google</p> -->
               </a>
             </div>
           </center>
           </div>
     </div>


    <div class="col-lg-4 col-md-4">
    <div class="card logincard">
      <center>
          <div class="card-body">
            <a class="btn btn-block" href="/auth/google" role="button">
              <i style="color:blue; font-size:40px" class="fab fa-facebook"></i>
              <!-- <p style="color:black; display:inline">Facebook</p> -->
            </a>
          </div>
          <center>
        </div>
      </div>



</div>

</div>

</div>

</div>



<br><br>

<script src="functions.js" charset="utf-8"></script>

<%- include('partials/footer') %>
