<%- include('partials/header') %>

    <h3 class="heading">Report Problem</h3>

    <br>
    <br>

    <div class="row ">

      <div class="col-lg-6 Rules ">
        <h4>Rules to lodge complaints</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Nulla tortor arcu, dignissim tristique massa sit amet,
          venenatis vestibulum est. Sed at sollicitudin nisl.
          Sed aliquet sem sed purus efficitur, id efficitur nunc finibus.
          Proin eget consectetur libero, nec sollicitudin tellus. Donec at varius erat.
          Maecenas tincidunt risus eu ipsum venenatis, eu lacinia dui lacinia.
          Sed sagittis feugiat enim ac sollicitudin. Nunc hendrerit faucibus metus eu cursus</p>
      </div>

      <div class="col-lg-6">
        <form action="/reportproblem" method="post" enctype="multipart/form-data">
          <div class="row">
            <div class="col-lg-6 ">
              <label for="Name" class="form-label">Name</label>
              <input type="text" name="name" class="form-control" placeholder="Name" required>

            </div>
            <div class="col-lg-6 ">
              <label for="Location" class="form-label">Location</label>
              <input type="text" name="location" class="form-control" placeholder="Location" required>
            </div>
          </div>

          <br>

          <div class="row ">
            <div class="col-lg-6 ">
              <label for="Date" class="form-label">Date</label>
              <input type="string" name="date" class="form-control" placeholder="dd-mm-yyyy" required>

            </div>
            <div class="col-lg-6 ">
              <label for="PhoneNumber" class="form-label">Phone Number</label>
              <input type="number" name="phonenum" class="form-control" placeholder="Phone Number" required>
            </div>
          </div>

          <br>



          <div class="row">
            <div class="col-lg-12 ">
              <label style = "margin-bottom:10px; margin-left:45%" for="lang">Problem</label>
              <br>
              <select class="dropdown1 " name="probtype" id="lang">
                <option value="Potholes">Potholes</option>
                <option value="Graffiti">Graffiti</option>
                <option value="Street Lighting">Street Lighting</option>
                <option value="Traffic Lights">Traffic Lights</option>
              </select>
            </div>


          </div>

          <div class="row">
            <div class="col-lg-12 ">
              <label style = "margin-bottom:10px; margin-left:42%" for="formFile" class="form-label">Upload image</label>
              <input class="form-control" name="image" type="file" id="formFile" required>
            </div>
          </div>

          <br>

          <div class="row">
            <div class="col-lg-12 ">
              <label style = "margin-bottom:10px; margin-left:40%" for="issueDescription">Describe your issue </label>
              <textarea style = "resize:none" class="form-control"  name="desc" rows="4" cols="50" placeholder="Describe your issue" required></textarea>
            </div>


          </div>

          <br>

          <center>
            <button type="submit" class="btn btn-primary">Submit</button>
          </center>

          <br>

        </form>

      </div>

    </div>

    <br>
    <br>

    <%- include('partials/footer') %>


</body>
