/*local complaints.html css*/

body{
  background-image: linear-gradient(45deg,rgb(181, 235, 233),rgb(228, 181, 235));
}

.nav-item{
  margin-top: 10px;
}


.heading{
  margin-top: 30px
}


.searchInput{
  width: 50%;
}

.status{
  text-align: center;
}

.statusInfo{
  margin: 20px;
  display: inline-block;
}

.footer{
  text-align: center;
  margin:0 20% 0 20%;
}

#logo{
  color: Orange;
  font-style: italic;
  font-weight: bold;
}

#footerRow{
  width:50%;
  text-align:center;
  margin-left:25%;
  height:2px;
}

.btn1{
  height: 37px;
  border: 0;
  border-radius: 4px;
}

/* Recent Issues css */

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}


/*main css*/

.bgred{
  height: 100px;
  background-color: red;
}

.bgblue{
  height: 100px;
  background-color: blue;
}

.bggreen{
  height: 100px;
  background-color: green;
}

.bgyellow{
  height: 100px;
  background-color: yellow;
}

.Rules{
  padding: 0 30px;
}

.dropdown1{
  height: 40px;
  border-radius: 6px;
  width: 100%;
  margin-bottom: 23px;
}
/* .mb3{
  display: inline-block;
} */

/*Areawise complains css*/
.dropdown{
  margin-top: 15%;
}

.issuedescription{
  padding-left: 60px;
}

.issueimage{
  text-align: center;
}

.issue{
  margin-bottom: 70px;
}

.status{
  padding-right: 2%;
  padding-top: 7%;
}

/*home page css*/

.homeWelcome{
  padding: 10%;
}

.homebtn{
  margin-top: 30px;
  background-color: black;
  color: white;
  border: 0;
  text-align: center;
  height: 50px;
  border-radius:1%;
  font-size: 20px;
  padding-left:20px;
  padding-right: 20px;
  width:95%;
  border-radius: 10px;
}

.homebtn:hover{
  background-color:  #d9b3ff;
  color: black;

}

/*login ka css*/

.logindetails{
  border: 1px solid orange;
  border-radius: 10px;
  padding: 15px;
}

.logincard{
  background-color:#ccccff;
  border-radius: 16px;
  margin-bottom: 15px;
}

.logincard:hover{
  background-color: lavender;
}
